#ending{
    padding-bottom: 40px;
    padding-top: 90px;
    background-color: rgb(4, 4, 48);
    padding-left: 90px;
    padding-right: 50px;
}

.fon{
    color: white;
    text-decoration: underline;
}
.unp{

}

.hot{
    color: white;
    text-decoration: none;
}

